/*  ----------- CSS Reset ----------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --background-main: #141416;
    --color-light: #e3e3e3;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--background-main);
}


h1 {
    font-size: 2em;
    color: var(--color-light);
}
h2 {
    font-size: 1.5em;
    color: var(--color-light);
}
h3 {
    font-size: 1.17em;
    color: var(--color-light);
}
h4 {
    font-size: 1em;
    color: var(--color-light);
}
h5 {
    font-size: 0.83em;
    color: var(--color-light);
}
h6 {
    font-size: 0.67em;
    color: var(--color-light);
}
a{
    color: var(--color-light);
    background-color: var(--background-main);
}

section {
    padding: 2em;
}


/* ----------- Custom Styles  ----------- */

/* Nav bar  */
.navbar {
    position: fixed;
    width: 100%;
    color: var(--color-light);
    z-index: 999;
   

}
.nav-link, .navbar-brand{
    color: var(--color-light);
}
.navbar-brand{
    background: none;
}
.navbar-toggler{
    border: none;
    color: var(--color-light);
}

/* Section  */
section{
    padding: 100px 20px;
}

header{
    height: 100vh;
}
.button-rounded{
    border-radius: 50px;
    padding: 15px 30px !important;
    /* background-color: var(--color-light); */
    background:none;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}


.navbar{
    border-bottom: 1px solid #e3e3e327;
}
.navbar li{
    margin: 0 20px;
}
.overplay-blur{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}



.hero-section {
    background: url('/assets/images/backpink.png') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}



.pricing .card {
    border: none;
}

.faq-question {
    background: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Button  */
.new-button {
    padding: 8px 17px;
    border-radius: 10px;
    color: var(--color-light);
    border: none;
    background: radial-gradient(231.94% 231.94% at 50% 100%, #8a6cff 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(147, 130, 255, .01);
    box-shadow: 0 0 0 0 rgba(16, 0, 51, .4), 0 2px 5px 0 rgba(16, 0, 51, .39), 0 8px 8px 0 rgba(16, 0, 51, .34), 0 19px 11px 0 rgba(16, 0, 51, .2), 0 34px 14px 0 rgba(16, 0, 51, .06), 0 53px 15px 0 rgba(16, 0, 51, .01), inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #1e0d49;
}
.new-button:hover{
    background: radial-gradient(231.94% 231.94% at 50% 100%, #8a6cff 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(147, 130, 255, .6);
    box-shadow: inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #1e0d49, 0 0 0 0 rgba(16, 0, 51, .4), 0 2px 5px 0 rgba(16, 0, 51, .39), 0 8px 8px 0 rgba(16, 0, 51, .34), 0 19px 11px 0 rgba(16, 0, 51, .2), 0 34px 14px 0 rgba(16, 0, 51, .06), 0 53px 15px 0 rgba(16, 0, 51, .01);
}


footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.text-gradient{
    background: linear-gradient(50deg,#714dff,#9c83ff 31.28%,#e151ff 77.97%,#fff759 95.64%);
}

/* Animation  */