/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --background-main: #141416;
    --color-light: #e3e3e3;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--background-main);
}
.navbar {
    color: var(--color-light);
    background-color: var(--background-main);
}
.nav-link, .navbar-brand{
    color: var(--color-light);

}
h1 {
    font-size: 2em;
    color: var(--color-light);
}
h2 {
    font-size: 1.5em;
    color: var(--color-light);
}
h3 {
    font-size: 1.17em;
    color: var(--color-light);
}
h4 {
    font-size: 1em;
    color: var(--color-light);
}
h5 {
    font-size: 0.83em;
    color: var(--color-light);
}
h6 {
    font-size: 0.67em;
    color: var(--color-light);
}
a{
    color: var(--color-light);
    background-color: var(--background-main);
}

section {
    padding: 2em;
}
/* Animation  */

/* Custom Styles */
.button-rounded{
    border-radius: 50px;
    padding: 5px 20px;
    background-color: var(--color-light);
    color: var(--background-main);
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.nav-outline-rounded{
    border-radius: 50px;
    padding: 5px 20px;
    background-color: var(--background-main);
    color: var(--color-light);
    text-decoration: none;
    display: inline-flex ;
    margin-top: 20px;
    border: 1px solid var(--color-light);
}


.nav-outline-rounded li{
    margin: 0 10px;
}




.hero-section {
    background: url('/assets/images/backpink.png') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}

.how-to-use {
    background: #f8f9fa;
}

.pricing .card {
    border: none;
}

.faq-question {
    background: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}