<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>controller.User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Dashboard</servlet-name>
        <servlet-class>controller.User_Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatAI</servlet-name>
        <servlet-class>controller.ChatAI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Dashboard_Exam</servlet-name>
        <servlet-class>controller.User_Dashboard_Exam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Achievements</servlet-name>
        <servlet-class>controller.Achievements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>controller.News</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stocks</servlet-name>
        <servlet-class>controller.Stocks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Register</servlet-name>
        <servlet-class>controller.User_Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatAI</servlet-name>
        <url-pattern>/chatai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Dashboard_Exam</servlet-name>
        <url-pattern>/dashboard/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Achievements</servlet-name>
        <url-pattern>/achievements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stocks</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
